/*font-awesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    height: 1080px;
}
table {
    width: 100%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid lightgray;
    padding: 30px 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
	text-decoration: none;
}
 #wrap{
      height: 950px;
      display: flex;
    }
    #wrap > nav{
        flex: 1.5;
        background: #22577E;
        color: white;
    }
    
        nav > #nav-head{
            text-align: center;
             height: 80px;
             border-bottom: 1px solid white;
             border-right: 1px solid white;
             display: flex;
             padding-left: 60px;
         }
         nav > #nav-head > .fa{
            padding: 25px 0;
            font-size: 30px;
            margin-right: 10px;
         }
         nav > #nav-head > h2{
            padding: 20px 0;
             font-size: 30px;
         }
     nav #cate{
        display: flex;
        padding: 15px 0 8px 20px;
    }
    
     nav #cate > .fa{
        padding: 3px 5px 0 0;
     }
     nav li{
        padding-left: 50px;
        margin-top: 10px;
    } 
 #wrap > article{
        flex: 8.5;       
    }
 
    article > #docu-top{
        text-align: center;
         height: 80px;
         background: #22577E;
         padding: 20px 50px;
         color: white;
     }
     article > #table{
        margin-bottom: 30px;
     }
 #table #button{
     margin: 50px 50px 30px 0;
     float: right;
 }
#table button{
    height: 50px;
    background: #22577E;
    color: white;
    font-weight: bold;
}
#table button:nth-child(1){
    margin-right: 30px;
}
#wrap #layer{
	display: none;
	position: absolute;
	height: 200%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
#layer #modal{
	width: 500px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: white;
	padding-top: 100px;
	text-align: center;
}
#modal h3{
	margin-bottom: 50px;
}
#buttonWrap button{
	width:100px;
	color: white;
	text-align: center;
}

#buttonWrap button:nth-child(1){
	margin-right: 80px;
}	
	