/*font-awesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    height: 1080px;
}
th, td {
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
	text-decoration: none;
}
/* wrap */
 #wrap{
      display: flex;
    }
/* nav */
 #wrap > nav{
        flex: 1.5;
        background: #22577E;
        color: white;
    }
    nav > #nav-head{
        text-align: center;
         height: 80px;
         border-bottom: 1px solid white;
         border-right: 1px solid white;
         display: flex;
         padding-left: 60px;
     }
     nav > #nav-head > .fa{
        padding: 25px 0;
        font-size: 30px;
        margin-right: 10px;
     }
     nav > #nav-head > h2{
        padding: 20px 0;
         font-size: 30px;
     }
 nav #cate{
    display: flex;
    padding: 15px 0 8px 20px;
}

 nav #cate > .fa{
    padding: 3px 5px 0 0;
 }
 nav li{
    padding-left: 50px;
    margin-top: 10px;
} 
 /* article */

 #section1{
    flex: 7.5;
    border: 1px solid black;
    padding: 0 45px;
}
#section2 {
    flex: 1;
}
#contents1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table{
    text-align: center;
}
tr{
    display: flex;
}
.manager-id{
    border: 1px solid black;
    width: 100px;
    color: white;
    background: #5584AC;
    font-weight: bold;
}
.ceo-id{
    border: 1px solid black;
    width: 100px;
    color: white;
    background: #5584AC;
    font-weight: bold;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#manager{
    width: 50px;
    height: 28px;
    border: none;
    border-bottom: 1px solid black;
}
.select-modal{
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 3px;
}
.select-img{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.storage-btn{
    float: right;
    height: 50px;
    width: 80px;
    background: #FEDBD0;
}
.storage-btn:nth-child(1){
    margin-left: 10px;
}
.row1 {
    width: 160px;
    height: 50px;
    line-height: 47px;
    color: white;
    background: #5584AC;
    font-weight: bold;
}
.row2 {
    width: 600px;
    height: 50px;
    border: 1px solid black;
}


.calendar {
    border: none;
    margin-left: 30px;
}
.row3 {
    width: 90%;
    height: 50px;
    border: 1px solid black;
    line-height: 25px;
    display: flex;
}
.row4 {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    color: white;
    background: #5584AC;
    font-weight: bold;
}
.row5 {
    width:200px;
    height: 40px;
    border: 1px solid black;
    line-height: 35px;
    color: white;
    background: #5584AC;
    font-weight: bold;
}
.row6 {
    width: 90%;
    height: 40px;
}
.text-box {
    width: 100%;
    height: 300px;
}
textarea {
    width: 99%;
    height: 99%;
    border: none;
    resize: none;
}
input {
    border: none;
    text-align: center;
}
input:focus{
    outline: none;
}
#button{
     margin: 50px 0 30px 0;
     float: right;
 }
#button button{
    height: 50px;
    color: white;
    background: #22577E;
    font-weight: bold;
}
#button button:nth-child(1){
    margin-right: 30px;
}
#layer{
	display: none;
	position: absolute;
	height: 200%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}
#layer #modal{
	width: 500px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: white;
	padding-top: 100px;
	text-align: center;
}
#modal h3{
	margin-bottom: 50px;
}
#buttonWrap button{
	height: 50px;
	width:100px;
	color: white;
	text-align: center;
	background: #22577E;
	font-weight: bold;
}

#buttonWrap button:nth-child(1){
	margin-right: 80px;
}