body{

}
/* header */
.header {
	padding: 0 150px;
	width: 100%;
	position: relative;
	background: black;
	overflow: hidden;
}
.gnb .main-menu a {
	color: white;
}

a{
    text-decoration: none;
}
ul{
    width: 300px;
    height: 300px;
}
.gnb {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 55px;
    position: relative;
}
.gnb .logo {
    width: 150px;
    height: 100%;
    margin-right: 10%;
    position: relative;
}
.gnb .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gnb .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
    font-size: 25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.gnb .main-menu a {
    color: black;
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
#aside{
    flex: 1;
    padding-top: 20px;
     background: #22577E;
    color: white;
    border: 1px solid white;
}
.title-box{
    width: 280px;
    height: 110px;
    background: #22577E;
    color: white;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    margin: 0 auto;
}
.title-box1{
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.icon-box{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    margin-right: 10px;
}
.icon-box1{
     width: 30px;
     height: 30px;
     border: 1px solid white;
    position: relative;
 }
.aside-title{
    font-size: 30px;
    font-weight: bold;
}
.push-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.push-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.push-box1 a , .push-box2 a {
	color: white;
}
#section1{
    position: relative;
    flex: 5;
    border: 1px solid black;
}
#section2 {
    flex: 1;
}
#contents1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contents3 {
    display: flex;
}
table{
    text-align: center;
}
tr{
    display: flex;
}
.manager-id{
    border: 1px solid black;
    width: 100px;
    background: #22577E;
    color: white;
}
.ceo-id{
    border: 1px solid black;
    width: 100px;
    background: #22577E;
    color: white;
   
}
td{
    border: 1px solid black;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#manager{
    width: 50px;
    height: 28px;
    border: none;
    margin-top: 5px;
}
.select-modal{
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 3px;
}
.select-img{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.storage-btn{
    float: right;
    height: 50px;
    width: 80px;
     background: #22577E;
    color: white;
    
}
.storage-btn:nth-child(1){
    margin-left: 10px;
}
.rowspan{
    width: 167px;
    height: 715.3px;
     background: #22577E;
    color: white;
    
    border: 1px solid black;
    text-align: center;
    line-height: 675px;
    font-weight: bold;
}

.row1 {
    width: 165px;
    height: 50px;
    border: 1px solid black;
    line-height: 47px;
    background: #22577E;
    color: white;
    
}
.row2 {
    width: 300px;
    height: 50px;
    border: 1px solid black;
}
#calendar1 {
    border: none;
}
.row3 {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    line-height: 25px;
    background: #22577E;
    color: white;
}
.row4 {
    width: 88%;
    height: 50px;
    border: 1px solid black;
}
.row5 {
    width: 411.4px;
    height: 30.46px;
   background: #22577E;
    color: white;
    border: 1px solid black;
}
.row6 {
    width: 411.4px;
    height: 30.46px;
    border: 1px solid black;
}
.text-box {
    width: 100%;
    height: 500px;
}
textarea {
    width: 99%;
    height: 99%;
    border: none;
    resize: none;
}
textarea:focus{
    outline: none;
}
input {
    border: none;
    text-align: center;
}
input:focus{
    outline: none;
}
.text-input1{
    width: 100%;
    text-align: start;
}
.text-input2 {
    background: #FEDBD0;
}
/* 모달창 관련 css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FEDBD0;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-body-table {
    margin-left: 18px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #FEDBD0;
    color: white;
}
footer {
    background-color: rgb(17, 14, 14);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    overflow: hidden;
}

/* footer div {
} */

.footer_logo {
    width: 175px;
    height: 80%;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_desc {
    position: relative;
    display: flex;
    align-items: center;
}

.footer_desc p {
    display: block;
    color: white;
    line-height: 1.5rem;
    /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_law a {
    color: white;
    display: block;
    text-decoration: none;
}

