body{
}
/* header */
.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: black;
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul{
    width: 300px;
    height: 300px;
}
.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: black;
    overflow: hidden;
}
.gnb {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 55px;
    position: relative;
}
.gnb .logo {
    width: 150px;
    height: 100%;
    margin-right: 10%;
    position: relative;
}
.gnb .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gnb .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
    font-size: 25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.gnb .main-menu a {
    color: black;
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
#aside{
    flex: 1;
    padding-top: 20px;
     background: #22577E;
    color: white;
    border: 1px solid white;
    
}
.title-box{
    width: 280px;
    height: 110px;
     background: #22577E;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 0 auto;
}
.title-box1{
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.icon-box{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    margin-right: 10px;
}
.icon-box1{
     width: 30px;
     height: 30px;
     border: 1px solid black;
    position: relative;
 }
.aside-title{
    font-size: 30px;
    font-weight: bold;
}
.push-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.push-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.push-box1 a, .push-box2 a {
	color: white;
}

#section1{
    flex: 6;
    border: 1px solid black;
}
#section2 {
    flex: 1;
}
#contents1 {
    display: flex;
    padding-top: 20px;
}
table{
    text-align: center;
}
tr{
    display: flex;
}
.round {
    background: #22577E;
    color: white;

    border: 1px solid black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-box1 {
}
.select-title {
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding-bottom: 5px;
}
.content-box1 {
    width: 100%;
    margin-left: 100px;
}
.row1 {
     background: #22577E;
    color: white;

    width:110px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
}
.row2 {
    width:110px;
    height: 50px;
}
.row3 {
     background: #22577E;
    color: white;

    width: 150px;
    height: 75px;
    border: 1px solid black;
    line-height: 75px;
}
.row4 {
    width: 150px;
    height: 75px;
}
.contents2 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.row5{
    width: 170px;
    height: 30px;
     background: #22577E;
    color: white;

    border: 1px solid black;
}
.row6{
    width: 490px;
    height: 30px;
     background: #22577E;
    color: white;

    border: 1px solid black;
}
.row7{
    width: 122px;
    height: 30px;
     background: #22577E;
    color: white;

    border: 1px solid black;
}
.row8{
    width: 1130px;
    height: 50px;
}
.row9{
    width: 786px;
    height: 30px;
     background: #22577E;
    color: white;

    border: 1px solid black;
}

.select-modal{
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 3px;
}
.select-img{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.storage-btn{
    float: right;
    height: 50px;
    width: 80px;
    background: #22577E;
    color: white;

}
.storage-btn:nth-child(1){
    margin-left: 10px;
}

.text-box {
    width: 100%;
    height: 500px;
}
textarea {
    width: 99%;
    height: 99%;
    border: none;
    resize: none;
}
textarea:focus{
    outline: none;
}
input {
    border: none;
    text-align: center;
}
input:focus{
    outline: none;
}
.text-input1{
    width: 100%;
    text-align: start;
}
.text-input2 {
     background: #22577E;
    color: white;

}
footer {
    background-color: rgb(17, 14, 14);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    overflow: hidden;
}

/* footer div {
} */

.footer_logo {
    width: 175px;
    height: 80%;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_desc {
    position: relative;
    display: flex;
    align-items: center;
}

.footer_desc p {
    display: block;
    color: white;
    line-height: 1.5rem;
    /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_law a {
    color: white;
    display: block;
    text-decoration: none;
}

