/*font-awesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    height: 1080px;
}
table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
  }
  
.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: black;
    overflow: hidden;
}
th, td {
    border: 1px solid black;
    padding: 10px 10px;
  }
th{
    border: 2px solid black;   
}
a{
    text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}   
 #wrap{
      height: 950px;
      display: flex;
    }
    #aside{
        flex: 1.5;
        padding-top: 20px;
        border: 1px solid white;
         background: #22577E;
    color: white;
        
    }
    .title-box{
        width: 280px;
        height: 110px;
         background: #22577E;
    color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        margin: 0 auto;
    }
    .title-box1{
        width: 300px;
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
    }
    
    .icon-box{
        width: 50px;
        height: 50px;
        border: 1px solid white;
        margin-right: 10px;
    }
    .select-img{
        width: 25px;
        height: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .icon-box1{
         width: 30px;
         height: 30px;
         border: 1px solid white;
        position: relative;
     }
    .aside-title{
        font-size: 30px;
        font-weight: bold;
    }
    .push-box1{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }
    .push-box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }  
    
    .push-box1 a, .push-box2 a {
        color: white;
    }
 #wrap > article{
        flex: 8.5;  
    }
 article > #docu-top{
    text-align: center;
     height: 100px;
      background: #22577E;
    color: white;

     padding: 30px 30px;
 }
 article > #table{
    margin-bottom: 30px;
   padding-right: 50px;
 }
 article > #table th:nth-child(1){
    width: 100px;
 }
 article > #table th:nth-child(3){
     width: 150px;
 }
 article > #table th:nth-child(4){
     width: 150px;
 }
article > #table th:nth-child(5){
     width: 150px;
}
 article > #paging{
     margin-bottom: 30px;
     text-align: center;
 }
 article > #search{
    text-align: center;
    
 }
 #search > select{
     height: 35px;
     margin-right: -7px;
 }    
 #search > input{
    height: 31px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
 }
 #search > #btn{
     height: 35px;
     width: 70px;
     margin-left: -7px;
     margin-top: -7px;
     background: #FEDBD0;
     
 }    