.header {
	padding: 0 150px;
	width: 100%;
	position: relative;
	background: black;
	overflow: hidden;
}
a{
	text-decoration: none;
}
ul{
	width: 300px;
	height: 300px;
}
.gnb {
	height: 65px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	line-height: 55px;
	position: relative;
}
.gnb .logo {
	width: 150px;
	height: 100%;
	margin-right: 10%;
	position: relative;
	height: 70%;
	transform: translate(-50%, -60%);
}
.gnb .logo a {
	position: absolute;
	width: 100%;
	height: 70%;
	color: white;
}

.gnb .logo a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
	font-size: 25px;
	display: flex;
	width: 75%;
	justify-content: space-between;
}

.gnb .main-menu a {
	color: black;
	text-decoration: none;
}
.container {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: flex;
}
.title {
	font-size: 50px;
	font-weight: bold;
}
a {
	text-decoration: none;
	text-shadow: 2px 2px 2px gray;
}
.fa-solid{
	text-align: center;
	font-size: 50px;
	padding-bottom: 10px;
}
h1{
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
	text-shadow: 2px 2px 2px gray;
}
h2{
	text-shadow: 2px 2px 2px gray;
	color: white;
}
#section{
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
article{
	width: 100%;
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	line-height: 35px;
}
.contents{
	width: 250px;
	height: 250px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #22577E;
	box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.68);
}
.contents-box {
	width: 662px;
	display: flex;
	justify-content: space-between;
}
footer {
	background-color: rgb(17, 14, 14);
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	overflow: hidden;
}

/* footer div {
} */

.footer_logo {
	width: 175px;
	height: 80%;
	overflow: hidden;
	border-radius: 1.5rem;
	margin-top: 0.5rem;
	position: relative;
}

.footer_logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer_desc {
	position: relative;
	display: flex;
	align-items: center;
}

.footer_desc p {
	display: block;
	color: white;
	line-height: 1.5rem;
	/* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footer_law a {
	color: white;
	display: block;
	text-decoration: none;
}
