body {
	width: 100%;
	background-color: white;
	height: 100vh;
  }
  
  a {
	text-decoration: none;
	list-style: none;
	color: black;
  }
  
  :root{
	--bg-color: #22577E;
	--footer-bg-color: black;
	--vacation-bg-color: #16374f;
	--font-color: white;
	--aside-bg-color: #22577E;
  }
  
  /* header */
  .header {
	padding: 10px 150px;
	width: 100%;
	position: relative;
	background: black;
	overflow: hidden;
	color: white;
	border-bottom: 1px solid white;
  }
  
  .gnb {
	height: 65px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	line-height: 55px;
	position: relative;
  
  }
  .gnb .logo {
	width: 150px;
	height: 100%;
	margin-right: 10%;
	position: relative;
  }
  .gnb .logo a {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  
  .gnb .logo a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  /* main-menu */
  .gnb .main-menu {
	font-size: 25px;
	display: flex;
	width: 75%;
	justify-content: space-between;
  }
  
  .gnb .main-menu a {
	text-decoration: none;
	color: white;
  
  }
  
  
  /* section test */
  .main {
	width: 100%;
	position: relative;
	display: flex;
  
  }

/* footer div {
} */

footer {
	background-color: var(--footer-bg-color);
	color: white;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	overflow: hidden;
	border-top: 1px solid white;
  }
  
  .footer_logo {
	width: 175px;
	height: 80%;
	overflow: hidden;
	border-radius: 1.5rem;
	margin-top: 0.5rem;
	position: relative;
  }
  
  .footer_logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .footer_desc {
	position: relative;
	display: flex;
	align-items: center;
  }
  
  .footer_desc p {
	display: block;
	line-height: 1.5rem;
	/* line-height: 30px; */
  }
  
  /* .footer_law {
  } */
  
  .footer_law {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
  }
  
  .footer_law a {
	color: white;
	display: block;
	text-decoration: none;
  }










/* ================ */

.privacy {
    flex: 1;
    width: 100%;
    background: #fff;
	border-right: 2px solid black;

    display: flex;
    flex-direction: column;
}
.privacy .status {
    width: 100%;
    height: 350px;
    background: #22577E;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.status .pic {}
.status .pic img {
	width: 200px;
	height: 200px;
}
.status h4 {
	font-size: 14px;
	margin: 10px 0;
}
.status .logoutmypage {
	width: 200px;
	display: flex;
	justify-content: space-evenly;

	background: #fff;
	padding: 10px 15px;
}


.privacy .commute {
    width: 100%;
    height: 200px;
    background: #447191;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.currentTime {
	width: 100%;
	height: 100%;
	color:white;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

.currentTime >span{
	font-size: 1.5rem;
}

.currentTime span{
	display: block;
	text-align: center;
	padding: 10px 20px;
}

.commute_btn {
	border-top: 1px solid white;
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 10px 0;
}

.commute_btn > span{
	background: white;
	border-radius: 30px;
	padding: 10px 20px;
	display: block;
}



.commute_btn > span:first-of-type{
	margin-right: 15px;
}

.commute_btn > span:hover{
	background: dodgerblue;
	color: white;
	cursor: pointer;
}

.commute_btn > .giveColor{
	background: dodgerblue;
	color: white;
}

.currentTime .commute_btn .chul {}
.currentTime .commute_btn .towe {}
.privacy .schedule {
    width: 100%;
    height: 500px;
    background: #22577E;
}
.schedule {
    flex: 4;    
}

#calendar{
	position: relative;
}

#selectScope{
	position: absolute;
	left: 200px;
	top: 2px;
	z-index: 999;
	height: 40px;
}

/* 검색버튼 */
/* 사원 검색 라디오버튼  */
.search_category input[type="radio"] {
  display: none;
  border: 1px solid black;
  
}

.search_category input[type="radio"] + span {
  display: inline-block;
  padding: 10px 6px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.search_category input[type="radio"]:checked + span {
  background-color: #113a6b;
  color: #ffffff;
}

#schedule_wrap{
 	overflow: hidden; 
 	position: relative;
}




/* modal */
#modal{
	width: 500px;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	display: none;
	border: 1px solid black;
}

#modal div{
	border-bottom: 1px solid lightgray;
	padding: 10px 10px;
}

#modal div:hover {
	background: beige;
	
}

#modal div:first-of-type{
	color: black;
}

#modal div h5{
	font-size: 20px;
	padding-bottom: 10px;
}

#modal.show{
	display: block;
}

#btnBox{
	display: flex;
	justify-content: right;
}

#btnBox .btn{
	display:block;
	color: black;
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
}

#btnBox .btn:first-of-type{
	margin-right: 10px;
}

#btnBox .btn:hover{
	background: dodgerblue;
	color:white;
}

#emp_name{
	color: white;
	font-size: 15px;
	padding: 12px 0;
}