body {
    margin: 0;
    padding: 0;
}
.scheduleRegist {
    width: 400px;
    height: 500px;
    border: 2px solid black;


    display: flex;
    flex-direction: column;
}
.title {
    width: 100%;
    flex: 0.5;

    font-size: 20px;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid #000;
}
.contents {
    width: 100%;
    flex: 5;
    background: #FEDBD0;
}
.contents div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contents h4 {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    margin-right: 30px;
}
.sche {}
.sche h4 {}
.sche input {}

.time {}
.time h4{}
.time input {}

.content {}
.content h4 {}
.content input {}

.contents .btn1 {
    justify-content: center;
}

.btn1 a {
    margin: 20px;
}
.btn1 a p {
    font-size: 15px;
    font-weight: 700;
    background: lightgray;
    padding: 10px 15px;
}