
/* ================ */

.privacy {
    flex: 1;
    width: 100%;
    background: #fff;
	border-right: 2px solid black;

    display: flex;
    flex-direction: column;
}
.privacy .status {
    width: 100%;
    height: 350px;
    background: #FEDBD0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.status .pic {}
.status .pic img {
	width: 200px;
	height: 200px;
}
.status h4 {
	font-size: 14px;
	margin: 10px 0;
}
.status .logoutmypage {
	width: 200px;
	display: flex;
	justify-content: space-evenly;

	background: #fff;
	padding: 10px 15px;
}
.logoutmypage .logout {}
.logoutmypage .mypage {}


.privacy .commute {
    width: 100%;
    height: 150px;
    background: #FEDBD0;
	margin: 30px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.currentTime {
	width: 200px;
	height: 40px;

	background: dodgerblue;
}
#cTime {
	font-size: 12px;
	font-weight: 400;
	color: black;
}
.currentTime .commute_btn {}
.currentTime .commute_btn .chul {}
.currentTime .commute_btn .towe {}
.privacy .schedule {
    width: 100%;
    height: 500px;
    background: #FEDBD0;
}
.calendar2 {
    flex: 4;
	padding-top: 25px;
    /* background: orangered; */
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
  }
  
  #calendar {
	max-width: 1100px;
	margin: 40px auto;
  }


footer {
	background-color: rgb(17, 14, 14);
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	overflow: hidden;
}

.footer_logo {
	width: 175px;
	height: 80%;
	overflow: hidden;
	border-radius: 1.5rem;
	margin-top: 0.5rem;
	position: relative;
}
.footer_logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer_desc {
	position: relative;
	display: flex;
	align-items: center;
}
.footer_desc p {
	display: block;
	color: white;
	line-height: 1.5rem;
	/* line-height: 30px; */
}

.footer_law {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer_law a {
	color: white;
	display: block;
	text-decoration: none;
}



