body {
    margin: 0;
    padding: 0;
}
.scheduleRegist {
    width: 750px;
    height: 700px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
}
.title {
    width: 100%;
    flex: 0.5;

    font-size: 25px;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid #000;
}
.contents {
    width: 100%;
    flex: 5;
    background: #FEDBD0;
    /* padding: 10px; */
}
.contents h3 {
    font-size: 20px;
    font-weight: bold;
}

.contents .selectDate {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.contents .selectDate h4 {
    font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}
.contents .input {
    width: 100px;
    margin: 30px 0;

}
.contents .selectDate a {
    font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;

}

/* 개인 일정 수정 */

.privacySch {
    margin-bottom: 30px;
}
.privacySch h3 {
    margin-bottom: 10px;
}
.privacySch table {
    width: 100%;
    border: 2px solid #000;
    background: #fff;
}
.privacySch table th {
    border: 1px solid black;
}
.privacySch table tr {
    border: 1px solid black;
    height: 25px;
}
.privacySch table tr td {
    border: 1px solid black;
    text-align: center;
    align-items: center;
}

/* 프로젝트 일정 수정 */
.projectSch {
    margin-bottom: 30px;
}
.projectSch h3 {
    margin-bottom: 10px;
}
.projectSch table {
    width: 100%;
    border: 2px solid #000;
    background: #fff;
}
.projectSch table th {
    border: 1px solid black;
}
.projectSch table tr {
    border: 1px solid black;
    height: 25px;
}
.projectSch table tr td {
    border: 1px solid black;
    text-align: center;
    align-items: center;
}


.contents .btn1 {
    display: flex;
    justify-content: center;
}

.btn1 a {

    margin: 20px;
}
.btn1 a p {
    font-size: 15px;
    font-weight: 700;
    background: lightgray;
    padding: 10px 15px;
}