body {
	width: 100%;
	background-color: white;
	/* height: 100vh; */
}

a {
	text-decoration: none;
	list-style: none;
	color: black;
}

  /* header */
.header {
	/* padding: 0 30px; */
	width: 100%;
	position: relative;
	background: white;
	overflow: hidden;
	/* margin-bottom: 10px; */
}

.gnb {
	height: 65px;
	width: 100%;
	border-bottom: 2px solid black;
	margin: 0 auto;
	display: flex;
	line-height: 55px;
	position: relative;
}
.gnb .logo {
	width: 150px;
	height: 100%;
	margin-right: 10%;
	position: relative;
}
.gnb .logo a {
	position: absolute;
	width: 100%;
	height: 100%;
}

.gnb .logo a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

  /* main-menu */
.gnb .main-menu {
	font-size: 25px;
	display: flex;
	width: 75%;
	justify-content: space-between;
}
.gnb .main-menu a {
	color: black;
	text-decoration: none;
}

  /* section test */
.main {
	width: 100%;
	height: calc(100vh - 65px);
	background-color: white;
	position: relative;
	display: flex;
}