
.layout {
    width: 100vw;
    height: 100%;
}
.header {
    width: 100vw;
    height: 100px;
    background: #22577E;
}
.main {
    width: 70vw;
    height: 50vh;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 100px;
    border-radius: 10px;

}

 .layout h2 {
    position: relative;
    /*margin-left: 100px;*/
    padding-left: 100px;
    padding-top: 70px;
    /*text-decoration: underline;*/
     border-bottom: 2px solid lightgray;
     width: 72%;
     margin-left: 250px;

}

.container-1,.container-2{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-text {
    font-size: 14px;
    text-align: center;

}
.main-text:nth-child(1){
    transform: translateX(-12%);
}
.container-1{
    margin-bottom: 50px;
}
.container-1 p {
    padding-right: 20px;
}
.container-2 p {
    padding-right: 20px;
    margin-bottom: 50px;
    margin-left: 38px;
}

.id, .mail{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;

}
.id{
    margin-right: 45px;

}

.container-2 button {

    margin-left: 20px;
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
    background: #22577E;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.login-button button{
    padding: 15px;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 30px;
    background: #22577E;
    color: white;
    font-weight: bold;
    text-decoration: none;


}
.login-button{
    margin-top: 70px;
    text-align: center;
}