
.layout {
    width: 1920px;
    height: 100%;
}
.header {
    width: 1920px;
    height: 100px;
    background: #001D46;
}

 h2 {
    position: relative;
     margin: 20px 0 20px 220px;

}
.main {
    box-sizing: border-box;
    width: 80vw;
    height: 122vh;
    border: 1px solid black;
    margin-left: 280px;
    margin: 0 auto;
    border-radius: 10px;

}
form {
   font-size: 20px;
    width: 800px;
    height: 280px;
    margin: 45px 0 0 580px;

}

input[type="text"],input[type="password"],input[type="email"]  {
    width: 250px;
    height: 23px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #CBE6FE;
  
}

#duplicationCheck , #searchZipCode{
	width: 98px;
	height: 25px;
	background: #FEDBD0;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.input{
    text-align: center;
}



.year{
    width: 70px;
    height: 35px;
    border-radius: 10px;
    font-size: 13px;
    border: 2px solid darkgray;
}

.teamname, .depname{
	width: 95px;
    height: 35px;
    border-radius: 10px;
    font-size: 13px;
    border: 2px solid darkgray;
}

#input-2 {
    font-size: 15px;

}
input[type=radio] {
    width: 15px;
    height: 15px;
    margin: 0 10px;

}


.login-button{
    width: 100%;
    margin: 50px 0;

}
.login-button a, #log-in-join{
    padding: 15px;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 30px;
    background: #627EB2;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    color: white;
}
p{
    font-size: 15px;
    padding: 10px 0;

}

#inner-text{
    font-size: 14px;
    padding-left: 10px;
}