body{
    height: 900px;
    width: 1920px;
}  

.layout {
   
    
}

.header {
    width: 100%;
    height: 100px;
    background: #001D46;
}

.main {
    width: 1500px;
    height: 700px;
    margin: 0 auto;
   
    margin-top:110px;
   
}

input::placeholder{
	color: white;
}

.left-box{
    width: 600px;
    height: 600px;
    float: left;
    margin: 0px 0 0 90px ;
    background-image: url("../images/로고.png");
    background-size: cover;
    background-position: center;
    
    
    
  
}
.right-box{
    width: 600px;
    height: 600px;
   
    float: left;
    margin: -50px 0 0 50px ;

}

.login-form {
    width: 400px;
    height: 500px;
   
    font-size: 30px;
    padding: 100px 0 0 150px ;
}
.login-form a {
    font-size: 15px;

}

.login{
    /* border: 1px solid blue; */
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
}
.txtb {
    display: block;
    box-sizing: border-box;
    width: 300px;
    background: #385888;
    border: 2px solid #FAF7FF;
    padding: 10px 20px;
    color: rgb(31, 4, 4);
    outline: none;
    margin: 10px 0;
    border-radius: 6px;
    text-align: center;
    color: white;
}




.login-btn, .regist {
    width: 100px;
    /* background: #2c3e50; */
    background: lightblue;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    margin-left: -30px;
    margin: 0 30px;
    


}

.login-btn  {
  
    width: 270px;
    height: 100px;
    background-color: white;
    /* border: 1px solid red; *//*  */
}


.main a {
	text-decoration: none;
	padding: 3px;
	font-size: 12px;
	margin-left: 210px;
	
}

.main a:nth-child(1) {
	margin-left: 225px;
	text-decoration: underline;
	
}

.main a:last-child, input[type="submit"]{
	
	display: block;
    box-sizing: border-box;
    width: 200px;
    background: #627EB2;
    border: 2px solid #FAF7FF;
    padding: 10px 20px;
    color: rgb(31, 4, 4);
    outline: none;
    margin: 10px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    margin-left: 55px;
    color: white;
    margin: 0 auto;
    margin-left: 10px;
}
