
.layout {
    width: 1920px;
    height: 1020px;
}
.header {
    width: 100vw;
    height: 100px;
    background: #001D46;
}
.main{

	position:relative;
}

h2 {
	margin: 50px 0 0 300px;
	 position: absolute;
	
}
.top-box, .mid-box {
    width: 600px;
    height: 300px;
    background: #385888;
    border: 1px solid black;
    margin: 70px 0 0 650px;
    border-radius: 30px;
    display: flex;
    position: relative;
}

.bottom-box{
	 width: 600px;
    height: 250px;
    background: #385888;
    border: 1px solid black;
    margin: 70px 0 0 650px;
    border-radius: 30px;
    display: flex;
    position: relative;
	
}
.chkbox{
	position:relative;
}
.chkbox input[id="allchk"]{
	
	font-size: 30px;
	 position: relative;
	 margin-left: 1200px;
	 margin-top: 50px;
	 padding-top: 250px;
	 border: 1px solid red;
	 width: 30px;
	 height: 20px;
	
}
 h2 {
	margin-left: 370px;
	margin-top: 10px;
	
}

.main h3 {

    position: absolute;
    margin-top: -32px;
    margin-left: -10px;


}
.text-box {
    width: 530px;
    height: 250px;
    background: white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 25px;
    overflow: scroll;
    padding: 5px;
}


.bottom-box .text-box {
	 width: 530px;
    height: 200px;
    background: white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 25px;
    overflow: scroll;
    padding: 5px;
}

.main p {
    padding: 0 20px;
}

.top-box input[type="checkbox"],.mid-box input[type="checkbox"],.bottom-box input[type="checkbox"] {

    width: 20px;
    height: 20px;
    margin-left:13px;
   

}

.login-button{
    width: 100%;
    text-align: center;
    
    

}
.login-button a{
    padding: 20px;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 40px 50px;
    background: #FEDBD0;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid lightgray;
}