
.layout {
    width: 1920px;
    height: 100%;
}
.header {
    width: 1920px;
    height: 100px;
    background: #001D46;
}

 h2 {
    position: relative;
     margin: 20px 0 20px 220px;

}
.main {
    box-sizing: border-box;
    width: 80vw;
    height: 110vh;
    border: 1px solid black;
    margin-left: 250px;
    margin: 0 auto;
    border-radius: 10px;

}
form {
   font-size: 20px;
    width: 800px;
    height: 200px;
    margin: 50px 0 0 550px;

}

input[type="text"],input[type="password"],input[type="email"]  {
    width: 250px;
    height: 23px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #CBE6FE;
    
  
}

#duplicationCheck , #searchZipCode{
	width: 98px;
	height: 25px;
	background: #FEDBD0;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.login-form input .button{
    background: red;
}
.input{
    text-align: center;
}

#input-1 {
    width: 110px;
    height: 35px;
    background: pink;
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
}

.year {
    width: 75px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid darkgray;
}

#input-2 {
    font-size: 15px;

}
input[type=radio] {
    width: 15px;
    height: 15px;
    margin: 0 10px;

}


.login-button{
    width: 100%;
    margin: 50px 0;

}
.login-button a{
    padding: 15px;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 30px;
    background: #FEDBD0;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
p{
    font-size: 15px;
    padding: 10px 0;

}

.btn input[type="submit"],.btn input[type="button"] {
	  padding: 15px;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 30px;
    background: #627EB2;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    
	
}

#inner-text{
    font-size: 14px;
    padding-left: 10px;
}