/*font-awesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    height: 1080px;
}
table {
    width: 100%;
    text-align: center;
  }
th, td {
    border-bottom: 1px solid lightgray;
    padding: 15px 10px;
  }
th{
    border-bottom: 2px solid black;    
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
	text-decoration: none;
    color: white;
}   
 #wrap{
      height: 950px;
      display: flex;
    }
 #wrap > nav{
        flex: 1.5;
        background: #22577E;
        color: white;
    }
 nav > #nav-head{
    text-align: center;
     height: 80px;
     border-bottom: 1px solid white;
     border-right: 1px solid white;
     display: flex;
     padding-left: 60px;
 }
 nav > #nav-head > .fa{
    padding: 25px 0;
    font-size: 30px;
    margin-right: 10px;
 }
 nav > #nav-head > h2{
    padding: 20px 0;
     font-size: 30px;
 }
 nav #cate{
     display: flex;
     padding: 15px 0 8px 20px;
 }
 nav #cate > .fa{
    padding: 3px 5px 0 0;
 }
 nav li{
     padding-left: 50px;
     margin-top: 10px;
 }   
 #wrap > article{
        flex: 8.5;
        
    }
 article > #docu-top{
    text-align: center;
     height: 80px;
     background: #22577E;
     padding: 20px 50px;
     color: white;
 }
 article > #table{
    margin-bottom: 30px;
 }
 article > #table th:nth-child(1){
    width: 100px;
 }
 article > #table th:nth-child(3){
    width: 150px;
 }

article > #table th:nth-child(4){
    width: 150px;
}
article > #table th:nth-child(5){
    width: 200px;
}
article > #table th:nth-child(6){
    width: 100px;
}
.pagingArea button{
    color: white;
    background: #22577E;
}
 article > #search{
 	margin-top: 30px;
    text-align: center;
    
 }
 form > select{
     height: 35px;
     margin-right: -7px;
 }    
 form > input{
    height: 35px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
 }
 form > #btn{
     height: 35px;
     width: 70px;
     margin-left: -7px;
     margin-top: -7px;
     color: white;
     background: #22577E;
     font-weight: bold;
     
 } 