/* header */
.header {
  padding: 0 140px;
  width: 100%;
  position: relative;
  background: black;
  overflow: hidden;
}

.gnb {
  height: 75px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  line-height: 55px;
  position: relative;
}
.gnb .logo {
  width: 150px;
  height: 100%;
  margin-right: 10%;
  position: relative;
}
.gnb .logo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gnb .logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
  font-size: 25px;
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.gnb .main-menu a {
  color: white;
  text-decoration: none;
}


footer {
  background-color: rgb(17, 14, 14);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  overflow: hidden;
}

/* footer div {
} */

.footer_logo {
  width: 175px;
  height: 80%;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
  position: relative;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_desc {
  position: relative;
  display: flex;
  align-items: center;
}

.footer_desc p {
  display: block;
  color: white;
  line-height: 1.5rem;
  /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer_law a {
  color: white;
  display: block;
  text-decoration: none;
}
