/* common */
h3{
    font-size: 25px;
    color:white;
}
h2{
    font-size: 40px;
    color:white;
}
h1{
	color:white;
}
body {
    height: 1080px;
}

a{
    color: white;
}
button{
    cursor:pointer;
    background: #22577E;
    color:white;
}
nav .fa{
	color:white;
}
.nav{
	background:#22577E;
}
.gnb .main-menu a{
	color:white;
}
header{
	background: black;
}
.modal_content h2{
	color:black;
}

/* header*/
header{
    text-align: center;
    height: 65px;
}

.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}

.gnb {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 55px;
    position: relative;
}
.gnb .logo {
    width: 150px;
    height: 100%;
    margin-right: 10%;
    position: relative;
}
.gnb .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gnb .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
    font-size: 25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.gnb .main-menu a {
    text-decoration: none;
}


#wrap{
    height: 950px;
    display: flex;
}

/* nav */
#wrap > nav{
    flex: 1.5;
    border: 1px solid black;
     background: #22577E;
}
nav > #nav-head{
    text-align: center;
    height: 150px;
    background: #22577E;
    border-bottom: 1px solid black;
    display: flex;
    padding: 50px;
    color:white;
}
nav > #nav-head > .fa{
    font-size: 40px;
    margin-right: 10px;
    margin-top: 7px;
}
nav #board,#club,#request{
    display: flex;
    padding: 10px 0 0 10px;
}

nav #board,#club,#request > .fa{
    font-size: 25px;
    color:white;
}

nav #board .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #club .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #request .fa{
	margin-right: 10px;
    margin-top: 5px;
}
nav #request div{
	display:flex;
}

nav li{
    padding-left: 70px;
    list-style: none;
}

/* article*/
#wrap > article{
    flex: 8.5;
    border: 1px solid black;
}
article > .write-container{
    width: 100%;
    height: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
}

.title{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.title > input{
    height: 70px;
    font-size: 20px;
}
.writer > input{
	height:70px;
	font-size:20px;
	width:70%;
}
.password > input{
	height:70px;
	font-size:20px;
	width:70%;
}
.wrpw{
    flex: 1;
    display: flex;
}
.writer{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.password{
	flex: 1;
	display:flex;
	flex-direction:column;
}
.writer div{
    width: 500px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    background: #22577E;
}
.writer p{
	margin-top:20px;
}


.comment{
    flex: 5;
    display: flex;
    flex-direction: column;
}
.comment textarea{
    font-size: 20px;
}
.button-box{
	display:flex;
	float:right;
	margin-top:50px;
}
.button-box .btn-pk{
	margin-left:20px;
}
article button{
    height: 50px;
    width: 200px;
    background: #22577E;
    font-size: 25px;
    font-weight: bold;
}


/* footer */
footer {
    background-color: rgb(17, 14, 14);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    overflow: hidden;
}

.footer_logo {
    width: 175px;
    height: 80%;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_desc {
    position: relative;
    display: flex;
    align-items: center;
}

.footer_desc p {
    display: block;
    color: white;
    line-height: 1.5rem;
    /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_law a {
    color: white;
    display: block;
    text-decoration: none;
}
