/* common */
h3{
    font-size: 25px;
    color:white;
}
h2{
    font-size: 40px;
    color:white;
}
h1{
	color:white;
}
body {
    height: 1080px;
}

a{
    color: white;
}
button{
    cursor:pointer;
    background: #22577E;
    color:white;
}
nav .fa{
	color:white;
}
.nav{
	background:#22577E;
}
.gnb .main-menu a{
	color:white;
}
header{
	background: black;
}
.modal_content h2{
	color:black;
}

/* table */
table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 10px 10px;
}
th{
    border: 2px solid black;

}
/* header*/
header{
    text-align: center;
    height: 65px;
}

.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}

.gnb {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 55px;
    position: relative;
}
.gnb .logo {
    width: 150px;
    height: 100%;
    margin-right: 10%;
    position: relative;
}
.gnb .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gnb .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
    font-size: 25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.gnb .main-menu a {
    
    text-decoration: none;
}


#wrap{
    height: 950px;
    display: flex;
}

/* nav */
#wrap > nav{
    flex: 1.5;
    border: 1px solid black;
     background: #22577E;
}
nav > #nav-head{
    text-align: center;
    height: 150px;
    background: #22577E;
    border-bottom: 1px solid black;
    display: flex;
    padding: 50px;
    color:white;
}
nav > #nav-head > .fa{
    font-size: 40px;
    margin-right: 10px;
    margin-top: 7px;
}
nav #board,#club,#request{
    display: flex;
    padding: 10px 0 0 10px;
}

nav #board,#club,#request > .fa{
    font-size: 25px;
    color:white;
}

nav #board .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #club .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #request .fa{
	margin-right: 10px;
    margin-top: 5px;
}
nav #request div{
	display:flex;
}

nav li{
    padding-left: 70px;
    list-style: none;
}

/* article*/
#wrap > article{
    flex: 8.5;
    border: 1px solid black;
}
/*제목,작성자*/
.table tr{
    text-align: left;
}
.table #table-head{
    height: 75px;
    text-align: center;
}
.table #table-look{
    height: 75px;
}
.table #table-look > td{
    border-right: 1px solid white;
}
.table #table-look > td:nth-child(1), td:nth-child(2){
    width: 100px;
}
.table #table-look > td:nth-child(3){
    width: 1000px;
    text-align: left;
}
/*내용*/
.table tr:nth-child(3){
    height: 500px;
}
.table input{
    width: 1500px;
    height: 35px;
}
.table #comments td{
    border-right: 1px solid white;
}
.table #comments td:nth-child(2), td:nth-child(3), td:nth-child(4){
    width: 50px;
}
.table button{
    height: 35px;
    width: 70px;
    background: #22577E;
}
.buttons{
    float: right;
    margin-top: 40px;
    margin-right: 30px;
}
.buttons button{
    height: 35px;
    width: 70px;
    background: #22577E;
}
.buttons button:nth-child(2){
    margin: 0 30px;
}

/* modal */
#modal {
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    left: 50%;
    top: 50%;
}
#modal2 {
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    left: 50%;
    top: 50%;
}
#modal h2 {
    font-size: 35px;
    margin:0;
    text-align: center;
}
#modal2 h2 {
    font-size: 35px;
    margin:0;
    text-align: center;
}
#modal p{
    font-size: 25px;
    text-align: center;
    padding: 50px;
}
#modal2 p{
    font-size: 25px;
    text-align: center;
    padding: 50px;
}
#modal .modal_content {
    width:500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
}
#modal2 .modal_content {
    width:500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
}
.modal_button-box{
    width: 100%;
    height: 50px;
    padding-left: 100px;
}

#modal button {
    width:80px;
    height: 40px;
    font-size: 15px;
}
#modal2 button {
    width:80px;
    height: 40px;
    font-size: 15px;
}
#modal button:nth-child(1){
    margin-right: 100px;
}
#modal2 button:nth-child(1){
    margin-right: 100px;
}
#modal .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}
#modal2 .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}

/* footer */
footer {
    background-color: rgb(17, 14, 14);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    overflow: hidden;
}

.footer_logo {
    width: 175px;
    height: 80%;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_desc {
    position: relative;
    display: flex;
    align-items: center;
}

.footer_desc p {
    display: block;
    color: white;
    line-height: 1.5rem;
    /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_law a {
    color: white;
    display: block;
    text-decoration: none;
}
