/* common */
h3{
    font-size: 25px;
}
h2{
    font-size: 40px;
}
body {
    height: 1080px;
}
a{
    color: black;
}
button{
    cursor:pointer;
}

/* table */
table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 10px 10px;
}
th{
    border: 2px solid black;

}
/* header*/
header{
    text-align: center;
    height: 65px;
}

.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}

.gnb {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 55px;
    position: relative;
}
.gnb .logo {
    width: 150px;
    height: 100%;
    margin-right: 10%;
    position: relative;
}
.gnb .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gnb .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
    font-size: 25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.gnb .main-menu a {
    color: black;
    text-decoration: none;
}


#wrap{
    height: 950px;
    display: flex;
}

/* nav */
#wrap > nav{
    flex: 1.5;
    border: 1px solid black;
}
nav > #nav-head{
    text-align: center;
    height: 150px;
    background: #FEDBD0;
    border-bottom: 1px solid black;
    display: flex;
    padding: 50px;
}
nav > #nav-head > .fa{
    font-size: 40px;
    margin-right: 10px;
    margin-top: 7px;
}
nav #board,#club,#request{
    display: flex;
    padding: 10px 0 0 10px;
}

nav #board,#club,#request > .fa{
    font-size: 25px;
}

nav #board .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #club .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #request .fa{
	margin-right: 10px;
    margin-top: 5px;
}
nav #request div{
	display:flex;
}

nav li{
    padding-left: 70px;
    list-style: none;
}

/* article*/
#wrap > article{
    flex: 8.5;
}
article > #board-top{
    text-align: center;
    height: 100px;
    background: #FEDBD0;
    padding: 30px 30px;
}

/* request-box */
article > #request-container{
	height: 850px;
	position:relative;
}
.request-box{
	width:1000px;
	height:600px;
	border:1px solid black;
	box-shadow: 30px 30px 5px #ccc;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-350px;
	margin-left:-500px;
	padding:50px;
}
.writer, .date, .club-name, .request-reason{
	display:flex;
	margin-bottom: 20px;
}
.request-box input{
	width:280px;
	height:30px;
	background:#eee;
	border-radius:30px;
	border:none;
	outline:none;
	padding-left:15px;
	font-size:15px;
	font-weight:bold;
}
.writer div{
	width:300px;
	height:30px;
	background:#eee;
	border-radius:30px;
	border:none;
	
	padding-left:15px;
	padding-top:5px;
	font-size:15px;
	font-weight:bold;
	margin-left:35px;
}
.date div{
	width:300px;
	height:30px;
	background:#eee;
	border-radius:30px;
	border:none;
	
	padding-top:5px;
	padding-left:15px;
	font-size:15px;
	font-weight:bold;
	margin-left:50px;
}
.club-name input{
	margin-left: 20px;
}
.request-reason textarea{
	width:800px;
	height:330px;
	font-size:15px;
	margin-left:20px;
}
.button-box{
	position:absolute;
	bottom:6%;
	right:10%;
	
}
.button-box button{
	height: 50px;
    width: 150px;
    background: #FEDBD0;
    font-size: 25px;
    font-weight:bold;
}



/* footer */
footer {
    background-color: rgb(17, 14, 14);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    overflow: hidden;
}

.footer_logo {
    width: 175px;
    height: 80%;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_desc {
    position: relative;
    display: flex;
    align-items: center;
}

.footer_desc p {
    display: block;
    color: white;
    line-height: 1.5rem;
    /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_law a {
    color: white;
    display: block;
    text-decoration: none;
}
