
body {
  width: 100%;
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}


/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  
}

.container .top {
  background-color: var(--bg-color);
  color: white;
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
  padding: 15px 0;
  
}

.container .month {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
    width: 100%;
  
}

/* table */
.month_table {
  flex-grow: 1;
  width: 100%;
  text-align: left;
  overflow: auto;
  height: 90vh;

}

.tg {
  width: 100%;

}

.tg td {
  background-color: #fbfbfb;
  border-color: #d4dcfb;
  border-style: solid;
  border-width: 1px;
  color: #669;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: var(--bg-color);
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-hmp3 {
  background-color: #e8e7e7;
  text-align: left;

  vertical-align: top;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

footer {
  background-color: rgb(17, 14, 14);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  overflow: hidden;
}


/* 모달창 */

.modal-body {
  background-color: #fedbd0;
  display: flex;
}

.modal-body .category {
  margin-right: 10px;
}

.modal-body .category > div {
  margin-bottom: 5px;
  width: 70px;
}

.modal-body .category>div:nth-of-type(2) {
  margin-bottom: 10px;
}

.modal-body .category>div:nth-of-type(4) {
  margin-bottom: 130px;
}

.modal-body .content {}

.modal-body .searchBox {
  width: 350px;
  overflow: auto;
  
}

.month_table th{
	position: sticky;
	top : 0;
}



.modal-body .content>div {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #fedbd0;
  padding: 0;
  color: black;
  font-size: 12px;
}

.btn-secondary {
  padding: 0;
  font-size: 12px;
}

.search_result {
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

#search_btn {
  padding: 5px 2px;
  background-color: #aabcfe;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

#selected_user{
	color: red;
}

/* 결재자 검색 input박스 색상 */
input:disabled { background: lightblue; }

/* 모달창에서 결재자 검색 후 선택되면 나타나는 효과 */
.selected{
	border: 1px solid red;
	background: skyblue;
}

.moveBtn{
	cursor: pointer;
}

