:root{
  --bg-color: #22577E;
  --footer-bg-color: black;
  --vacation-bg-color: #16374f;
  --font-color: white;
  --aside-bg-color: #22577E;
}

/* header */
.header {
  padding: 10px 150px;
  width: 100%;
  position: relative;
  background: black;
  overflow: hidden;
  color: white;
  border-bottom: 1px solid white;
}

.gnb {
  height: 65px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  line-height: 55px;
  position: relative;

}
.gnb .logo {
  width: 150px;
  height: 100%;
  margin-right: 10%;
  position: relative;
}
.gnb .logo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gnb .logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
  font-size: 25px;
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.gnb .main-menu a {
  text-decoration: none;
  color: white;

}


/* section test */
.main {
  width: 100%;
  position: relative;
  display: flex;

}

/*  aside */
#aside {
  display: flex;
  flex-direction: column;
  background: var(--aside-bg-color);
  width: 300px;
  color: var(--font-color);
  border-right: 1px solid white;

  
}
#aside > div {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

#aside > div:first-of-type {
  background-color: var(--aside-bg-color);
  padding: 15px 8px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 1px solid #FDF6F0;
  color: var(--font-color);


}

#aside > div > a {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--font-color);

}

#aside ul {
  padding-left: 4rem;
}

#aside ul li {
  margin-bottom: 0.3rem;
}

#aside ul li a {
  color: var(--font-color);

}

/* footer div {
} */

footer {
  background-color: var(--footer-bg-color);
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  overflow: hidden;
  border-top: 1px solid white;
}

.footer_logo {
  width: 175px;
  height: 80%;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
  position: relative;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_desc {
  position: relative;
  display: flex;
  align-items: center;
}

.footer_desc p {
  display: block;
  line-height: 1.5rem;
  /* line-height: 30px; */
}

/* .footer_law {
} */

.footer_law {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.footer_law a {
  color: white;
  display: block;
  text-decoration: none;
}