body {
  width: 100%;
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}


/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  
}

.container .top {
  background-color: #fedbd0;
  text-align: center;
  font-size: 1.7rem;
    width: 100%;
    padding: 15px 0;
  background-color: var(--bg-color);
  color: white;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 25px 50px;
  height: 100%;
}

.wrap_top {
  margin-bottom: 20px;
}

.wrap_top p {
}

.subtitle {
  background-color: var(--bg-color);
  display: block;
  padding: 5px 0;
  color: white;
}

.search {
}

.wrap_top > span {
}

.wrap_bottom {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.wrap_bottom > div {
}
.wrap_bottom .left {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1.3;
}
.profile-contents {
  display: flex;
}

.profile-contents .photo {
  background-color: lightblue;
  margin-right: 10px;
  width: 150px;
  height: 150px;
}
.profile-contents .profile-contents-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-contents .profile-contents-desc span {

}

.profile-contents .profile-contents-desc

.wrap_bottom .left > div {
}
.wrap_bottom .left .profile {
  margin-bottom: 20px;
  border: 1px solid blue;
  flex-grow: 1;
}

.modify {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  flex-grow: 1.5;
}
.modify .subtitle {
}
.modtitle {
  margin-right: 60px;
}

.modtitle:first-of-type {
}

.modtitle:last-of-type {
  float: left;
}

.modify div {
}

.modify > span {
}
.modify > button {
  /* position: absolute;
  right: 50%;
  bottom: -30px;
  transform: translateX(-50%); */
}

.wrap_bottom .right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 200px;
}

/* 휴가이력삭제 */
.right {
  border: 1px solid blue;
}
.subtitle {
}
.right > {
}
.rightmenu {
}
.rightmenu .righttitle {
  padding: 2px 5px;
  border-radius: 30px;
  margin-right: 5px;
}


/*사원정보 검색 */
.rowBox {
	border:1px solid black;
	width:50%;
}

.rowBox h6{
	font-size: 1rem;
}

.rowBox th{
  font-weight: lighter;
}

/* 사원 검색 라디오버튼  */
.search_category input[type="radio"] {
  display: none;
}

.search_category input[type="radio"] + span {
  display: inline-block;
  padding: 10px 6px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.search_category input[type="radio"]:checked + span {
  background-color: #113a6b;
  color: #ffffff;
}

/* 검색 */
.search_wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}





.searchBtn{
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.searchBtn:hover{
  background-color: #113a6b;
  color: #ffffff;
}

.research_result{
  border: 1px solid black;
  height: 100px;
  overflow: auto;
}

.thTitle{
	text-align: left;
}

.btns {
	background: lightblue;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
  margin-left: 20px;
}

#worktimeBtn{
  display: inline-block;
  margin-left: 20px;
}

#deleteBtn{
  display: inline-block;
  width: 100px;
 margin-left: 150px;
}