body {
  width: 100%;
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  
}

.container .top {
  background-color: var(--bg-color);
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
  color: white;
  padding: 15px 0;

  
}

.container .month {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  width: 100%;
  
}

/* table */
.month_table {
  border: 1px solid black;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.tg {
  width: 100%;

}

.tg td {
  background-color: #fbfbfb;
  border-color: #d4dcfb;
  border-style: solid;
  border-width: 1px;
  color: #669;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: var(--bg-color);
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-hmp3 {
  background-color: #e8e7e7;
  text-align: left;

  vertical-align: top;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

/* 삭제요청 모달창 */

.modal-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  
}


.rowBox{
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
.rowBox:last-of-type{
  margin-bottom: 0;
}

.rowBox > h6{
  color: gray;
  margin-bottom: 20px;
  font-size: 1.5rem;
}



/* 라디오버튼  */
.search_category input[type="radio"] {
  display: none;
}

.search_category input[type="radio"] + span {
  display: inline-block;
  padding: 10px 6px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.search_category input[type="radio"]:checked + span {
  background-color: #113a6b;
  color: #ffffff;
}

/* 검색 */
.search_wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchBtn{
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.searchBtn:hover{
  background-color: #113a6b;
  color: #ffffff;
}

.research_result{
  border: 1px solid black;
  height: 100px;
  overflow: auto;
}

/* 사유 */

input[type=text]{
  outline: none;
  transition: 1s;

}

input[type=text]:hover
{
    background : aliceblue;
    outline: none;

}

input[type=text]:focus {
  /* font-size : 120%; */
  outline: none;
}





.btn-primary {
  background-color: #fedbd0;
  padding: 0;
  color: black;
  font-size: 12px;
}

.btn-secondary {
  padding: 0;
  font-size: 12px;
}








/* 휴가 취소전 체크하기 위한 모달창 */

#calcel_check_modal {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display: none;
}

#calcel_check_modal h2 {
  margin:0;   
}


#calcel_check_modal .calcel_check_content {
  width:400px;
  height: 200px;
  margin-top: 150px;
  margin-left: 250px;
  padding:20px 10px;
  background: #000;
  color: white;
  border:2px solid #666;

}

.calcel_check_content h2{
  display: block;
  border-bottom: white 1px solid;
  padding-bottom: 15px;
}
#calcel_check_modal .calcel_check_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
} 

.btn_box{
  width: 70%;
  text-align: center;
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-evenly;

}

.btn_box > div{
  border : 1px solid white;
  /* padding: 20px 10px; */
  width: 100px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  transition: 0.5s;

}

.btn_box > div:hover{
  background-color: white;
  color: black;
}


#calcel_check_close_btn{
}




.btn_box span:hover{

}

.calcel_check_content h2{
  text-align: center;
  display: block;
  
}

.moveBtn{
	cursor: pointer;
}