

body {
  width: 100%;
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}



/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-color: white;
  color: var(--font-color);
  
}

.container p {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  position: absolute;
  top: 100px;
  padding: 2px 2px 5px 2px;
  border-bottom: 1px solid white;
  box-shadow : 2px 3px 5px 0px #000000;
  color: black;


}

.container .top {
  background-color: var(--bg-color);
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
  padding: 15px 8px;
  margin-bottom: 135px;
  border-bottom: 1px solid white;
}

.vacation {
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 50px;
}

.vacation div{
  background-color: white;
  padding-bottom: 20px;
  border-bottom : 1px solid lightgray;
}

.vacation div span{
  color: black;
  display: block;
  width: 100%;
  padding-bottom: 10px;

}
.vacation form > div {
  margin-bottom: 20px;
  color: black;

}

.vacation span {
  margin-right: 15px;

}

.start {

}

.start span {

}

.end {
}

.end span {
}

.senior {
}

.senior span {
}

.excuse span {
  float: left;
}


.vacation_box {
  width: 100%;
  display: flex;
  background-color: white;
  padding: 50px 20px;
  border-top: 1px solid white;

  
}

.vacation_box div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50px;
  padding: 7px;
  box-shadow : 2px 3px 5px 0px var(--bg-color);

  
}

.vacation_box div:last-of-type{
	margin-right: 0;

}

.vacation_box div span:first-of-type {
  width: 100%;
  color: black;

}

.vacation_box div span:last-of-type {
  width: 100%;
  display: block;
  font-size: 2.5rem;
  color: var(--bg-color);
}


#reserach_result{
	border: 1px solid black;
	text-align:center;


}

.inputDate{

  background-color: lightcyan;
  border: none;
  width: 100px;
  height: 20px;
  cursor: pointer;

}






/* 버튼 */
.btn_submit{
  background: black;
  color:white;
  border:none;
  position:relative;
  height:30px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  overflow: hidden;

}
.btn_submit:hover{
  background: white;
  color: black;
}
.btn_submit:before, .btn_submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: black;
  transition:400ms ease all;
}
.btn_submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn_submit:hover:before, .btn_submit:hover:after{
  width:100%;
  transition:800ms ease all;
}



#search_table th{
	font-weight: normal;
}


#research_btns{
	cursor: pointer;
}

#search_btn{
	cursor: pointer;
  color: black;
  padding: 3px 5px;
  background-color: lightcyan;
  display: inline;
}

#reasonInput{
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

div.excuse{
  border-bottom: none;
}