body {
  width: 100%;
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}




/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  
}

.container .top {
  background-color: #fedbd0;
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
  padding: 15px 0;
  background: var(--bg-color);
  color: white;

}

.container .wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  
}

/* table */
.table_box {
  width: 100%;
  overflow: auto;
  height: 200px;
  position: relative;
  background-color: lightgrey;
}

.table_box h3 {
  border-bottom: 1px solid lightgray;
  display: block;
  text-align: center;
  padding: 20px 0;
}

thead > tr > th {
  background-color: #fedbd0;
  position: sticky;
  top: 0;
}

.tg {
  width: 100%;

}

.tg td {
  background-color: #fbfbfb;
  border-color: #d4dcfb;
  border-style: solid;
  border-width: 1px;
  color: #669;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: var(--bg-color);
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-hmp3 {
  background-color: #e8e7e7;
  text-align: left;

  vertical-align: top;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}