/*font-awesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    height: 1080px;
}
table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
  }
th, td {
    border: 1px solid black;
    padding: 20px 10px;
  }
th{
    border: 2px solid black;    
}
a{
    text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
} 
.header {
     background: black; 
	color: white;
}

 #wrap{
      height: 950px;
      display: flex;
    }
 #wrap > nav{
        flex: 1.5;
        border: 1px solid black;
    }
 nav > #nav-head{
    text-align: center;
     height: 150px;
     background: #22577E;
     border-bottom: 1px solid black;
     display: flex;
     padding-left: 40px;
     color: white;
 }
 nav > #nav-head > .fa{
    padding: 53px 0 45px 0;
    font-size: 40px;
    margin-right: 10px;
 }
 nav > #nav-head > h2{
    padding: 45px 0 45px 0;
     font-size: 40px;

 }
 nav #cate{
     display: flex;
     padding: 8px 0 0 10px;

 }
 nav #cate > .fa{
    padding: 3px 5px 0 0;
 }
 nav li{
     padding-left: 50px;
 }   
 #wrap > article{
        flex: 8.5;       
    }
 
 article > #docu-top{
    text-align: center;
     height: 150px;
     background: #22577E;
     padding: 50px 50px;
     color: white;
 }
 article > #table{
   padding-right: 50px;
 }
 #table #button{
     margin: 50px 0 30px 0;
     float: right;
 }
#table button{
    height: 50px;
    background: #627EB2;
    color: white;
    font-weight: bold;
}
#table button:nth-child(1){
    margin-right: 30px;
}
 
 