/*font-awesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    height: 1080px;
}
table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 10px 10px;
}
th{
    border: 2px solid black;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
#wrap{
    height: 950px;
    display: flex;
}
#wrap > nav{
    flex: 1.5;
    border: 1px solid black;
}
nav > #nav-head{
    text-align: center;
    height: 150px;
    background: #22577E;
    border-bottom: 1px solid black;
    display: flex;
    padding-left: 40px;
    color: white;
}

.header {
     background: black; 
	color: white;
}

.main-menu a {
	color: white;
}

nav > #nav-head > .fa{
    padding: 53px 0 45px 0;
    font-size: 35px;
    margin-right: 10px;
}
nav > #nav-head > h2{
    padding: 45px 0 45px 0;
    font-size: 32px;

}
nav #cate{
    display: flex;
    padding: 8px 0 0 10px;

}
nav #cate > .fa{
    padding: 3px 5px 0 0;
}
nav li{
    padding-left: 50px;
}
#wrap > article{
    flex: 8.5;

}
article > #docu-top{
    text-align: center;
    height: 100px;
    background:  #22577E;
    padding: 30px 30px;
    color: white;
}
article > #table{
    margin-bottom: 30px;
    padding-right: 50px;
}
article > #table th:nth-child(1){
    width: 370px;
}
article > #table th:nth-child(2){
    width: 370px;
}
article > #table th:nth-child(3){
    width: 370px;
}
article > #table th:nth-child(4){
    width: 370px;
}
/* article > #table th:nth-child(5){
    width: 100px;
}
article > #table th:nth-child(6){
    width: 100px;
} */
/* article > #table td:nth-child(2) > input[type="checkbox"]{
    transform: scale(2);
}
article > #table td:nth-child(3) > input[type="checkbox"]{
    transform: scale(2);
}
article > #table td:nth-child(6) > select{
    width: 50px;
    font-size: 15px;
    padding: 0 5px;
}
 */
article > #paging{
    margin-bottom: 30px;
    text-align: center;
}
article > #search{
    text-align: center;
    position: relative;
}
#search > select{
    height: 35px;
    margin-right: -7px;
}
#search > input{
    height: 31px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
#search > #btn{
    height: 35px;
    width: 70px;
    margin-left: -7px;
    margin-top: -7px;
    background: #FEDBD0;

}

#search > #btn-2{
    height: 45px;
    width: 80px;
    margin-left: 400px;
    margin-top: -37px;
    background: #FEDBD0;
    position: absolute;
    border-radius: 5px;

}