/* common */
h3{
    font-size: 25px;
}
h2{
    font-size: 40px;
}
body {
    height: 1080px;
}
a{
    color: black;
}
/* table */
table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 10px 10px;
}
th{
    border: 2px solid black;

}
/* header*/
header{
    text-align: center;
    height: 65px;
}

.header {
    padding: 0 150px;
    width: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}

.gnb {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 55px;
    position: relative;
}
.gnb .logo {
    width: 150px;
    height: 100%;
    margin-right: 10%;
    position: relative;
}
.gnb .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gnb .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main-menu */
.gnb .main-menu {
    font-size: 25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.gnb .main-menu a {
    color: black;
    text-decoration: none;
}


#wrap{
    height: 950px;
    display: flex;
}

/* nav */
#wrap > nav{
    flex: 1.5;
    border: 1px solid black;
}
nav > #nav-head{
    text-align: center;
    height: 150px;
    background: #FEDBD0;
    border-bottom: 1px solid black;
    display: flex;
    padding: 50px;
}
nav > #nav-head > .fa{
    font-size: 40px;
    margin-right: 10px;
    margin-top: 7px;
}

nav #board,#club{
    display: flex;
    padding: 10px 0 0 10px;
}

nav #board,#club > .fa{
    font-size: 25px;
}
nav #board .fa{
    margin-right: 10px;
    margin-top: 5px;
}
nav #club .fa{
    margin-right: 10px;
    margin-top: 5px;
}

nav li{
    padding-left: 70px;
    margin-bottom: 10px;
    /*list-style: none;*/
}
nav li i{
    margin-left: 15px;
    font-size: 18px;
}

/* article*/
#wrap > article{
    flex: 8.5;
    margin-bottom: 100px;
}
article > #board-top{
    text-align: center;
    height: 100px;
    background: #FEDBD0;
    padding: 30px 30px;
}
	

/* footer */
footer {
    background-color: rgb(17, 14, 14);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    overflow: hidden;
}

.footer_logo {
    width: 175px;
    height: 80%;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_desc {
    position: relative;
    display: flex;
    align-items: center;
}

.footer_desc p {
    display: block;
    color: white;
    line-height: 1.5rem;
    /* line-height: 30px; */
}
/* .footer_law {
} */

.footer_law {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_law a {
    color: white;
    display: block;
    text-decoration: none;
}
